@mixin doubleGradient($first, $second) {
    background-color: $first;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, $first ), color-stop(1, $second)) !important;
    background: -webkit-linear-gradient(top, $first, $second) !important;
    background: linear-gradient(top, $first, $second) !important;
}

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;


.x-layout-card-item {
	background: #000;
	color: #eee;
}

.x-form-fieldset-title {
	color: #eee;
	text-shadow: 0 1px 0 #164a57;
}

.x-button {
	background: #2591b8 !important;
	color: #ddfcff;
	border: 1px solid #268ca5 !important;
	border-top: 0px solid #68b0c8 !important;
	box-shadow: 0 0 3px 3px #164a57;
	text-shadow: 0 1px 0 #164a57;
	margin: 7px;
}

.x-button-pressing {
	background: #1e738f !important;
}

.x-component-outer {
	width: 100% !important;
}

#gameConfig {
	display: block !important;
	.x-container,
	.x-body,
	.x-docking-vertical {
		display: block !important;
	}
}
