@mixin doubleGradient($first, $second) {
    background-color: $first;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, $first ), color-stop(1, $second)) !important;
    background: -webkit-linear-gradient(top, $first, $second) !important;
    background: linear-gradient(top, $first, $second) !important;
}

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

.h-clearfix:before,
.h-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.h-clearfix:after {
    clear: both;
}


#ext-viewport {
	padding: 1em;
}

.x-layout-card-item {
	background: #000;
	color: #eee;
}

.x-form-fieldset-title {
	color: #eee;
	text-shadow: 0 1px 0 #164a57;
}

.x-button {
	background: #2591b8 !important;
	color: #ddfcff;
	border: 1px solid #268ca5 !important;
	border-top: 0px solid #68b0c8 !important;
	box-shadow: 0 0 3px 3px #164a57;
	text-shadow: 0 1px 0 #164a57;
	margin: 7px;
}

.x-button-pressing {
	background: #1e738f !important;
}



#gameConfig {
	display: block !important;
	text-align: center;
	
	.x-container,
	.x-body,
	.x-docking-vertical {
		display: block !important;
	}
	
	.x-form-label,
	.x-field,
	.x-form-fieldset-inner {
		background: none;
		border:none;
	}
	
	.x-form-fieldset-title {
		text-align: center;
	}
	
	.x-field {
		margin: 1em 0;
	}
		.x-form-label {
			background: #b1dcfe;
			border-radius: 1em 1em 0 0 !important;
		}
		
		.x-field-input {
			background: #fff;
			border-radius: 0 0 1em 1em !important;
			input {
				text-align: center !important;
				padding-left: 2.8em !important;
			}
		}
		
	.x-field-checkbox .x-input-el::after {
		background-position: center center !important;
		background-repeat: no-repeat !important;	
		left: 50% !important;
		margin-left: -0.8em !important;
	}
}




.containerPlayerInfo {
	color: #81a8b7;
	text-align: center;
	
	.playerLabel {
		display: inline-block;
	}
	
	.playerValue {
		display: inline-block;
		margin: 0 0 0 10px;
	}
	
	border-bottom: 2px solid #81a8b7;
	padding-bottom: 1em;
}

.infoContainer {
	text-align: center;
}
	.containerWordsInHat {
		float: left;
		width: 33.333%;
	}

	.containerTimer {
		float: left;		
		width: 33.333%;
		.x-innerhtml {font-size: 2em; }
	}

	.containerScore {
		float: left;	
		width: 33.333%;	
	}
	
	.topWordsInHat,
	.bottomWordsInHat,
	.topCenter,
	.topScore,
	.bottomScore {
		border-bottom: .056em/*1px*/ solid #383838;
		margin: 0 .5em;
		position: relative;
		padding-top: 1em;
		
		&::after,
		&::before {
			content: '';
			display: block !important;
			width: .056em/*1px*/ !important;
			height: .556em/*10px*/ !important;
			background: #383838;
			position: absolute !important;
			bottom: 0 !important;
		}
		&::after {
			right: 0 !important;
		}
		&::before {
			left: 0 !important;
		}
	}
	
	.topWordsInHat {
		font-size: .75em;
		line-height: 2;
		border-bottom: 1px solid #383838;
	}
	
	.containerCurrentWord {
		font-size: 3em;
		padding: 1.5em 0 0;
	}
	
	
	
@media screen and (min-width: 481px)  {
	.topWordsInHat {
		font-size: 1em;
		line-height: normal;
		border-bottom: .056em/*1px*/ solid #383838;
	}
	.containerTimer {
		.x-innerhtml {font-size: 2.938em; }
	}
}
	

.gameResultsLabel {
	color: #81a8b7;
	text-align: center;
	border-bottom: 2px solid #81a8b7;
	padding-bottom: 1em;
}
	.playerName {
		display: inline-block;
		position: relative;
		border-bottom: 1px solid #383838;
		padding: 0 .5em;
		
		&::after,
		&::before {
			content: '';
			display: block !important;
			width: .056em/*1px*/ !important;
			height: .556em/*10px*/ !important;
			background: #383838;
			position: absolute !important;
			bottom: 0 !important;
		}
		&::after {
			right: 0 !important;
		}
		&::before {
			left: 0 !important;
		}

	}

		.playerResultList {
			padding: 1em 0 0;
		}
		
			.userItemContainer {
				margin: 1em 0 0;
			}
			
			.playerScore {
				display: inline-block;
				margin-left: 20px;
				background: #32ccfe;
				padding: 4px 0 4px 10px;
				text-align: right;
					.x-innerhtml {
						display: inline-block;
						background: #f4ffff;
						padding: 2px 3px;
						border: 1px solid #64a9c8;
						color: #83aece;
						margin-right: -3px;
					}
			}
			
	
